@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
body {
  background-color: #000;
  background-size: 100%;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 1.0);
  height: 100%;
  max-height: 100% !important;
  width: 100vw;
}
#container-wilidcard {
  width: 100vw;
  height: 100% !important;
  max-height: 100% !important;
}
#title {
	width:190px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  text-transform:uppercase;
  font-weight:bold;
  font-size: 40px;
  letter-spacing:2.0;
  line-height:110%;
  z-index: 100;
}
#subtitle {
	width:280px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:50px;
  text-transform:lowerpercase;
  font-size: 20px;
  letter-spacing:2.0;
  line-height:110%;
  z-index: 100;
}
#waves{
	overflow:hidden !important;
}
#socialmedia{
	width:300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	font-size:20px;
}
.icon-spacing{
	margin-right:10px;
}
.sub-spacing{
	line-height:110%;
}