@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Raleway:100,300);

body {
  background-color: #222;
  @include background-image(linear-gradient(top, rgba(#111,1) 0%,rgba(#222,1) 50%,rgba(#111,1) 100%));
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
}

#title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 100;
}